@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.two-col-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.two-col-containerS {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

header {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: blue;
  width: 100%;
}

header img {
  height: 80px;
}

header div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.randomContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

a:hover {
  background-color: #101c42;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

a {
  font-family: "Open Sans";
  font-family: "Open Sans", sans-serif;
  font-size: 2ch;
  text-decoration: none;
  width: 100%;
  border: solid #0a122a 5px;
  padding: 5px;
  margin: 4px;
}

.tillsamans {
  place-items: center;
  text-align: center;
  padding-right: 10%;
  padding-left: 10%;
  margin: 10%;
}

.boxsak {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.lista {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.listaS {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 20%;
}

h1 {
  font-family: "Italianno", cursive;
  font-size: 60px;
}
h2 {
  font-family: "Italianno", cursive;
  font-size: 40px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 20%;
  padding-left: 20%;
  margin: 2%;
}

.centerS {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 10%;
  padding-left: 5%;
  margin: 1%;
}

.rand {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 20%;
  padding-left: 20%;
  background-color: #2e4d2e;
  padding-top: 4%;
  padding-bottom: 4%;
}

img {
  padding: 2%;
}

.over {
  padding: 0%;
  border: 0px;
}

.bruh {
  margin: 1%;
  padding: 1rem;
}

.bruh2 {
  margin: 1%;
}
