* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.two-col-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

header {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: blue;
}

header img {
  height: 80px;
}

header div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.tillsamans {
  place-items: center;
}

.lista {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
